body{
    background-color: lightgray;
}

body:hover {
    background-color: violet;
    transition: 1s;
}


.texto01{
    background-color: rgb(7, 36, 36);
    border-color: rgb(7, 36, 36);
    color: white;
    border-radius: 50px;
    height: 30vh;
    width: 950px;
    text-align: center;
    padding: 20px;
    margin-left: 25vh;
    margin-top: 60px;
    font-family: sans-serif;
}

.texto01:hover{
    background-color: rgb(80, 155, 96);
    border-color: rgb(80, 155, 96);
    color: black;
    border-radius: 50px;
    height: 30vh;
    width: 950px;
    text-align: center;
    padding: 20px;
    margin-left: 25vh;
    margin-top: 60px;
    font-family: sans-serif;
    transition: 1s;
}  


.texto02{
    background-color: rgb(7, 36, 36);
    border: 5px solid red;
    color: white;
    height: 30vh;
    width: 950px;
    padding: 20px;
    margin-left: 25vh;
    text-align: center;
    overflow: auto;
}

.texto02{
    background-color: rgb(80, 155, 96);
    border-color: 5px solid rgb(80, 155, 96);
    color: black;
    height: 30vh;
    width: 950px;
    padding: 20px;
    margin-left: 25vh;
    text-align: center;
    overflow: auto;
}

/* Menu pra troca de imagens */

ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-top: 20px;
}

li{
display: inline;
/* float: left; */
}

li a{
border-color: blue;
background-color: red;
color: white;
width: 100px;
text-decoration: none;
padding: 10px;
border-radius: 15px;
}

li a:hover{
border-color: gold;
border: 1px;
background-color: white;
color: red;
width: 100px;
text-decoration: none;
padding: 10px;
border-radius: 15px;
transition: 1.5s;
}
